#card {
    background-color: white;
    height: 27.59vh;
    width: 92.5%;
    margin: 2.87vh 3.75% 2.87vh 3.75%;
    box-shadow: 4px 4px 13px #3a3a3a;    
}

@media screen and (max-width: 770px) {
    #card {
      width: 80%;
      margin: 2.87vh 10% 2.87vh 10%;
    }
}