<div #adimmer id="dimmer" class="clickable" (click)='animate(adimmer)'><div></div></div>

<div id="buzzardlogocontainer">
  <img id="buzzardlogo" src="../assets/BuzzardLogo.svg">
  <img #arrow (click)="projectsAnimation()" class="clickable arrow" src="../assets/downArrow.svg">
  <img #projects (click)="projectsAnimation()" id="projectstext" src="../assets/projects.svg">
</div>

<div id="wrapper">


<div #grid id="grid" class="initial-transform-container post-grid-height">

  <div class="emptycontainer onecolumnempty"></div>
  <div class="emptycontainer twocolumnempty"></div>
  <div class="emptycontainer twocolumnempty"></div>

  <app-card (mouseover)='mouseOver()' (mouseout)='mouseOut()' #profile (click)='animate(profile)' class="clickable hover offscreen profile">
    <div class="back">
      <div class="backcontentcontainer">
        <div class="title-container">
          <p class="title">Corwin Buzzard</p>
          <mat-divider></mat-divider>
        </div>
        <div class="infocontainer">
          <p>Corwin1998@gmail.com / (954) 881-4211</p>
        </div>
        <div class="descriptioncontainer">
          <p class="description">Full stack software developer, specializing in Java, Golang, Vue, and Angular. I currently work full time at Grant Street Group as a Software Developer</p>
          <div class="button-container">
            <a mat-raised-button class="btn" href="https://github.com/Cbuzzard" target="_blank">Github</a>
            <a mat-raised-button class="btn" href="https://www.linkedin.com/in/corwin-buzzard-294b061b0/" target="_blank">LinkedIn</a>
          </div>
        </div>
      </div>
    </div>
    <div class="logocontainer" id="profilecontainer">
      <img  class="logo" src="../assets/ProfileLogo.svg">
    </div>
  </app-card>

  <div class="emptycontainer threecolumnempty"></div>

  <app-card (mouseover)='mouseOver()' (mouseout)='mouseOut()' #launchcode (click)='animate(launchcode)' class="clickable hover offscreen launchcode">
    <div class="back">
      <div class="backcontentcontainer">
        <div class="title-container">
          <p class="title">LaunchCode</p>
          <mat-divider></mat-divider>
        </div>
        <div class="infocontainer">
          <p>JavaScript / Spring Boot / HTML/CSS / Angular / SQL</p>
        </div>
        <div class="descriptioncontainer">
          <p class="description">Eight-month full-stack web development course designed to build a strong, well-rounded skill set. The majority of assignments completed through LaunchCode are linked in the demo below.</p>
          <div class="button-container">
            <a mat-raised-button class="btn" href="https://lc-101-site.web.app/" target="_blank">Demo</a>
            <a mat-raised-button class="btn" href="https://www.launchcode.org/" target="_blank">Website</a>
          </div>
        </div>
      </div>
    </div>
    <div class="logocontainer" id="launchcodecontainer">
      <img  class="logo" src="../assets/LaunchCodeLogo.svg">
    </div>
  </app-card>

  <app-card (mouseover)='mouseOver()' (mouseout)='mouseOut()' #lights (click)='animate(lights)' class="clickable hover offscreen lights">
    <div class="back">
      <div class="backcontentcontainer">
        <div class="title-container">
          <p class="title">Need A Light</p>
          <mat-divider></mat-divider>
        </div>
        <div class="infocontainer">
          <p>Spring Boot / Angular / MySQL / Hibernate</p>
        </div>
        <div class="descriptioncontainer">
          <p class="description">Need A Light is a website I created with a custom admin panel to dynamically post and display blogs. The site is used for my christmas light installation company to connect and advertise to our customers.</p>
          <div class="button-container">
            <a mat-raised-button class="btn" href="https://need-a-light.herokuapp.com/" target="_blank">Demo</a>
            <a mat-raised-button class="btn" href="https://github.com/Cbuzzard/need-a-light" target="_blank">Repository</a>
          </div>
        </div>
      </div>
    </div>
    <div id="lightscontainer" class="logocontainer">
      <img  class="logo" src="../assets/LightsLogo.svg">
    </div>
  </app-card>

  <app-card (mouseover)='mouseOver()' (mouseout)='mouseOut()' #readit (click)='animate(readit)' class="clickable hover offscreen readit">
    <div class="back">
      <div class="backcontentcontainer">
        <div class="title-container">
          <p class="title">Read It Check</p>
          <mat-divider></mat-divider>
        </div>
        <div class="infocontainer">
          <p>Spring Boot / Angular / MySQL / Hibernate</p>
        </div>
        <div class="descriptioncontainer">
          <p class="description">Forum that requires users to answer a question about an article before they are allowed to post a comment on it. Made with a Spring Boot backend that was designed as a scalable REST API to save user data.</p>
          <div class="button-container">
            <a mat-raised-button class="btn" href="https://read-it-check.herokuapp.com/" target="_blank">Demo</a>
            <a mat-raised-button class="btn" href="https://github.com/Cbuzzard/readitcheck" target="_blank">Repository</a>
          </div>
        </div>
      </div>
    </div>
    <div class="logocontainer" id="readitcontainer">
      <img  class="logo" src="../assets/readitcheck-logo-white.png">
    </div>
  </app-card>

  <app-card (mouseover)='mouseOver()' (mouseout)='mouseOut()' #mealtime (click)='animate(mealtime)' class="clickable hover offscreen mealtime">
    <div class="back">
      <div class="backcontentcontainer">
        <div class="title-container">
          <p class="title">MealTime</p>
          <mat-divider></mat-divider>
        </div>
        <div class="infocontainer">
          <p>Angular / Firebase / NoSQL</p>
        </div>
        <div class="descriptioncontainer">
          <p class="description">Mealtime is a meal planning website designed so users can catalogue recipes to easily create a weekly menu and shopping list. Integrates google login and firebase realtime database for persistent user specific data.</p>
          <div class="button-container">
            <a mat-raised-button class="btn" href="https://angular-meal-time.web.app/" target="_blank">Demo</a>
            <a mat-raised-button class="btn" href="https://github.com/brendenmoore/angular-meal-time" target="_blank">Repository</a>
          </div>
        </div>
      </div>
    </div>
    <div id="mealtimecontainer" class="logocontainer">
      <img  class="logo" src="../assets/MealTimeLogo.svg">
    </div>
  </app-card>

  <app-card (mouseover)='mouseOver()' (mouseout)='mouseOut()' #wave (click)='animate(wave)' class="clickable hover offscreen wave">
    <div class="back">
      <div class="backcontentcontainer">
        <div class="title-container">
          <p class="title">Wave Assistant</p>
          <mat-divider></mat-divider>
        </div>
        <div class="infocontainer">
          <p>TypeScript / Dialogflow / Firebase Functions / Angular</p>
        </div>
        <div class="descriptioncontainer">
          <p class="description">Wave Assistant is the combination of google's Dialogflow and the Magic Seaweed wave data API which has allowed me to create a voice enabled chat bot that provides local wave data.</p>
          <div class="button-container">
            <a mat-raised-button class="btn" href="https://hometest-e3066.web.app/" target="_blank">Demo</a>
            <a mat-raised-button class="btn" href="https://github.com/Cbuzzard/wave_assistant" target="_blank">Repository</a>
          </div>
        </div>
      </div>
    </div>
    <div id="wavecontainer" class="logocontainer">
      <img  class="logo" src="../assets/WaveLogo.svg">
    </div>
  </app-card>

  <app-card (mouseover)='mouseOver()' (mouseout)='mouseOut()' #calendar (click)='animate(calendar)' class="clickable hover offscreen calendar">
    <div class="back">
      <div class="backcontentcontainer">
        <div class="title-container">
          <p class="title">Calendar Tracker</p>
          <mat-divider></mat-divider>
        </div>
        <div class="infocontainer">
          <p>Java / XML / Android / Google API</p>
        </div>
        <div class="descriptioncontainer">
          <p class="description">This is a published Android app created to integrate with your google calendar and track the way you spend your day. Data is locally stored to display graphs and statistics of how you spend your time.</p>
          <div class="button-container">
            <a mat-raised-button class="btn" href="https://github.com/Cbuzzard/calendar_tracker" target="_blank">Repository</a>
            <a mat-raised-button class="btn" href="https://play.google.com/store/apps/details?id=buzzardsview.calendartracker" target="_blank">App Store</a>
          </div>
        </div>
      </div>
    </div>
    <div class="logocontainer" id="calendarcontainer">
      <img  class="logo" src="../assets/CalendarLogo.svg">
    </div>
  </app-card>

  <app-card (mouseover)='mouseOver()' (mouseout)='mouseOut()' #calculator (click)='animate(calculator)' class="clickable hover offscreen calculator">
    <div class="back">
      <div class="backcontentcontainer">
        <div class="title-container">
          <p class="title">Christmas Calculator</p>
          <mat-divider></mat-divider>
        </div>
        <div class="infocontainer">
          <p>Java / XML / Android</p>
        </div>
        <div class="descriptioncontainer">
          <p class="description">Created to serve as a quoting tool for my christmas light installation business. Using predefined or custom prices and wattages, Christmas Calculator will calculate total cost and circuit capacity for any job.</p>
          <div class="button-container">
            <a mat-raised-button class="btn" href="https://github.com/Cbuzzard/christmas_calculator" target="_blank">Repository</a>
            <a mat-raised-button class="btn" href="https://play.google.com/store/apps/details?id=buzzardsView.calculator" target="_blank">App Store</a>
          </div>
        </div>
      </div>
    </div>
    <div class="logocontainer" id="calculatorcontainer">
      <img  class="logo" src="../assets/CalculatorLogo.svg">
    </div>
  </app-card>


</div>

</div>
