<div #dimmer id="dimmer" (click)='calculateTranslation(dimmer)'></div>

<div id="grid">
  <app-card #linkedin (click)='calculateTranslation(linkedin)' id="linkedin">
    <div class="logocontainer" id="linkedincontainer">
      <img  class="logo" src="../assets/linkedinlogo.svg">
    </div>
  </app-card>
  <div id="buzzardlogocontainer"><img id="buzzardlogo" src="../assets/BuzzardLogo.svg"></div>
  <app-card #github (click)='calculateTranslation(github)'>
    <div class="logocontainer" id="githubcontainer">
      <img  class="logo" src="../assets/githublogo.svg">
    </div>
  </app-card>
  <app-card #calendar (click)='calculateTranslation(calendar)'>
    <div class="logocontainer" id="calendarcontainer">
      <img  class="logo" src="../assets/CalendarLogo.svg">
    </div>
  </app-card>

  <app-card #mealtime (click)='calculateTranslation(mealtime)'>
    <div class="logocontainer">
      <img  class="logo" src="../assets/MealTimeLogo.svg">
    </div>
  </app-card>
  <app-card #readit (click)='calculateTranslation(readit)'>
    <div class="logocontainer" id="readitcontainer">
      <img  class="logo" src="../assets/readitlogo.svg">
    </div>
  </app-card>
  <app-card #lights (click)='calculateTranslation(lights)'>
    <div class="logocontainer">
      <img  class="logo" src="../assets/LightsLogo.svg">
    </div>
  </app-card>
  <app-card #calculator (click)='calculateTranslation(calculator)'>
    <div class="logocontainer" id="calculatorcontainer">
      <img  class="logo" src="../assets/CalculatorLogo.svg">
    </div>
  </app-card>
  <app-card #wave (click)='calculateTranslation(wave)'>
    <div class="logocontainer">
      <img  class="logo" src="../assets/WaveLogo.svg">
    </div>
  </app-card>
  
</div>